<table id="contact">
  <tbody>
    <tr><th>Email   </th><td><a href="mailto:jared@redningja.com">jared@redningja.com</a></td></tr>
    <tr><th>Twitter </th><td><a href="http://twitter.com/redningja">@redningja</a></td> </tr>
    <tr><th>Github  </th><td><a href="https://github.com/ordinaryzelig">ordinaryzelig</a></td></tr>
    <tr><th>Gems    </th><td><a href="http://rubygems.org/profiles/48121">rubygems.org/profiles/ningja</a></td></tr>
    <tr><th>Résumé  </th><td><a href="https://www.dropbox.com/s/4phu3j7eyyrqn54/Ning_Jared_resume.pdf?dl=0">Ning_Jared_resume.pdf</a></td></tr>
    <tr>
      <th>Blogs</th>
      <td>
        <ul id="blogs">
          <li><a href="{{ site.categories.dev.last.url }}">dev</a></li>
          <li><a href="{{ site.categories.travel.last.url }}">Travel</a></li>
          <li><a href="{{ site.categories.blog.last.url }}">Personal</a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
