<table id="contact">
  <tbody>
    <tr> <th>Email   </th> <td> <a href="mailto:jared@redningja.com">jared@redningja.com</a>                            </td> </tr>
    <tr> <th>Twitter </th> <td> <a href="http://twitter.com/redningja">@redningja</a>                                   </td> </tr>
    <tr> <th>Blog    </th> <td> <a href="{{ site.posts.last.url }}">code ningja</a>                                    </td> </tr>
    <tr> <th>Github  </th> <td> <a href="https://github.com/ordinaryzelig">ordinaryzelig</a>                            </td> </tr>
    <tr> <th>Gems    </th> <td> <a href="http://rubygems.org/profiles/48121">rubygems.org/profiles/ningja</a>           </td> </tr>
    <tr> <th>Résumé  </th> <td> <a href="http://dl.dropbox.com/u/159828/Ning_Jared_resume.pdf">Ning_Jared_resume.pdf</a></td> </tr>
  </tbody>
</table>
