<table id="contact">
  <tbody>
    <tr><th>Email   </th><td><a href="mailto:jared@redningja.com"                                                         >jared@redningja.com</a></td></tr>
    <tr><th>Github  </th><td><a href="https://github.com/ordinaryzelig"                                     target="blank">ordinaryzelig</a></td></tr>
    <tr><th>Résumé  </th><td><a href="https://www.dropbox.com/s/4phu3j7eyyrqn54/Ning_Jared_resume.pdf?dl=0" target="blank">Ning_Jared_resume.pdf</a></td></tr>
    <tr>
      <th>Blogs</th>
      <td>
        <ul id="blogs">
          <li><a href="{{ site.categories.dev.last.url }}">dev</a></li>
          <li><a href="{{ site.categories.travel.last.url }}">Travel</a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
