---
layout: default
subtitle: Get Lost
categories: travel
---

<p>
  Christopher Columbus thought that if he sailed so far west, further than anybody had ever sailed, he would circle the earth and find India.
  He got lost, but discovered something much better than he had ever hoped for.
</p>

<p>
  This blog is about my travels.
  Traveling is about discovering boundaries and breaking them down. Mark Twain wrote,
  "Travel is fatal to prejudice, bigotry, and narrow-mindedness....
  Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all one's lifetime."
</p>

<p>
  I like going to distant lands, places I don't know much about. Getting lost is a great way to make discoveries.
</p>

<ul id="trips">
  <li>
    {% assign trip = 'Europe 2012' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'New Zealand, Australia, Japan' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'Orlando 2011' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'NYC 2010' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'San Diego, Honolulu, China 2010' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'East Africa 2010' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'Tanzania 2009' %}
    {% include trip_posts.html %}
  </li>
  <li>
    {% assign trip = 'China 2002' %}
    {% include trip_posts.html %}
  </li>
</ul>
