---
layout: default
subtitle: Travels
categories: travel
---

<dl id="trips">
  {% assign trip = 'NYC/BOS/GC/PHX' %}
  {% include trip_posts.html %}

  {% assign trip = 'Florida 2013' %}
  {% include trip_posts.html %}

  {% assign trip = 'UK/Germany' %}
  {% include trip_posts.html %}

  {% assign trip = 'Europe 2012' %}
  {% include trip_posts.html %}

  {% assign trip = 'New Zealand, Australia, Japan' %}
  {% include trip_posts.html %}

  {% assign trip = 'Orlando 2011' %}
  {% include trip_posts.html %}

  {% assign trip = 'NYC 2010' %}
  {% include trip_posts.html %}

  {% assign trip = 'San Diego, Honolulu, China 2010' %}
  {% include trip_posts.html %}

  {% assign trip = 'East Africa 2010' %}
  {% include trip_posts.html %}

  {% assign trip = 'Tanzania 2009' %}
  {% include trip_posts.html %}

  {% assign trip = 'China 2002' %}
  {% include trip_posts.html %}
</dl>
