/*******************************************************************************
 * MeyerWeb Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus {
  outline: none; }

body {
  box-sizing: border-box;
  background: #212121;
  font-size: 16px;
  font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
  letter-spacing: -1px; }

h1 {
  font-size: 36px;
  font-weight: 700; }

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url("../images/bg_hr.png") repeat-x bottom; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  margin: 10px 0 15px 0; }

footer p {
  color: #f2f2f2; }

a {
  text-decoration: none;
  color: #007edf; }

a:hover {
  color: #1398ff; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

img, iframe.video {
  position: relative;
  margin: 0 auto;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
  width: 100%; }

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb; }

#contact table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left; }
#contact th {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff; }
#contact td {
  padding: 10px;
  border: 1px solid #373737; }

ul li {
  list-style: inside;
  padding-left: 20px; }

ol li {
  list-style: decimal inside;
  padding-left: 20px; }

dl dt {
  font-weight: bold; }

dl dd {
  padding-left: 20px; }

dl p {
  padding-left: 20px; }

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url("../images/bg_hr.png") repeat-x center; }

form {
  background: #f2f2f2;
  padding: 20px; }

/*******************************************************************************
 * Full-Width Styles */
.outer {
  width: 100%; }

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto; }

#header_wrap {
  background: #212121; }

#header_wrap .inner {
  padding: 50px 10px 30px 10px; }

#project_title {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px; }

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px; }

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url("../images/icon_download.png") no-repeat 0% 90%; }

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111; }

#main_content {
  padding-top: 40px; }

#footer_wrap {
  background: #212121; }

/*******************************************************************************
 * Custom */
#title-red {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

#project_title a:hover #title-red {
  color: red; }

ul#contact li, ul#blogs li {
  list-style-type: none;
  color: white;
  padding-left: 0; }

#post-date {
  font-size: 12pt;
  color: #999;
  margin-bottom: 30px; }

.markdown-body {
  font-family: Arial;
  padding: 20px; }

#project_title a,
#project_tagline a {
  color: white; }

#gist-comments-note {
  font-size: 80%; }

dl#trips {
  margin-top: 50px; }
  dl#trips dt {
    /* trip-name */
    float: left;
    font-weight: bold;
    width: 300px; }
  dl#trips dd {
    /* posts */
    margin-left: 300px;
    margin-bottom: 50px; }
    dl#trips dd li {
      text-indent: -20px; }

#gist article {
  padding: 24px; }
#gist pre, #gist code {
  color: #222;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f7f7f7; }
#gist pre {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.1);
  overflow: auto; }
#gist code {
  border: 1px solid #ddd;
  padding: 0 3px 0 3px;
  margin: 0 3px;
  box-shadow: 0, 0m 10pxm rgba(0, 0, 0, 0.1); }
#gist pre code {
  display: block;
  box-shadow: none; }
#gist table {
  border: 1px solid #ddd; }
  #gist table tr:nth-child(even) {
    background-color: #fff; }
  #gist table th, #gist table td {
    padding: 5px;
    border: 1px solid #ddd; }
  #gist table th {
    font-weight: bold; }

.btn {
  padding: 10px; }
