<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Friendly, expert, no jargon Ruby programmer" />
    <meta name="keywords" content="ruby, ruby on rails, ror, freelance, oklahoma city, okc, web development, developer, programmer, redninja, ningja, ninja, redninja" />
    {% if page.og_image %}
      <meta property="og:image" content="{{ page.og_image }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
      <h1 id="project_title">
        <a href="{{ site.baseurl }}/">
          <span id="title-Ja>">Ja</span><span id="title-red">red</span>
          <span id="title-space"> </span>
          <span id="title-Ning">Ning</span>
        </a>
      </h1>
      <h2 id="project_tagline"><a href="/{{ page.categories.first }}">
        {% if page.categories contains "dev" %}
          Code Ningja
        {% elsif page.categories contains "travel" %}
          Travel
        {% endif %}
      </a></h2>
      {% if page.showContact %} {% include contact.html %} {% endif %}
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        {{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      <p>Published using GitHub Pages with modified Slate Theme</p>
      </footer>
    </div>

  </body>
</html>
